.blog-wrapper {
  padding: clamp(var(--spacing-small), 5%, var(--spacing-large));
  border: 1px var(--color-border) solid;
  border-radius: var(--border-radius-big);
  width: clamp(320px, 90%, 384px);
  height: auto;
  background-color: var(--color-background-card);
  box-shadow: var(--shadow-card);
  gap: var(--gap-large);
}

.image-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.image-wrapper > .image {
  width: 100%;
  height: auto;
  border: 1px var(--color-border) solid;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-image);
}

.article {
  gap: var(--gap-small);
}

.category {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  width: 82px;
  height: 29px;
  background-color: var(--color-background-accent);
  padding: var(--spacing-small) var(--spacing-extra-small);
  border-radius: var(--border-radius-small);
  color: var(--color-title);
  text-align: center;
}

.date {
  color: var(--color-title);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}

.title {
  font-size: var(--font-size-big);
}
