.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-gap-small {
  gap: var(--gap-small);
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-end {
  align-items: flex-end;
}

/* Mobile Screens (375px - 768px) */
@media (max-width: 768px) {
  :root {
    --font-size-main: 0.875rem; /* 14px if 1rem = 16px */
    --font-size-small: 0.75rem; /* 12px */
    --font-size-big: 1.25rem; /* 20px */
  }

  .blog-wrapper {
    width: clamp(301px, 90%, 327px);
  }
}

/* Small Mobile Screens (up to 480px) */
@media (max-width: 480px) {
  :root {
    --font-size-main: 0.8125rem; /* 13px */
    --font-size-small: 0.6875rem; /* 11px */
    --font-size-big: 1.125rem; /* 18px */
  }

  .blog-wrapper {
    max-width: 327px;
  }
}

/* Small Mobile Screens (up to 480px) */
@media (max-width: 300px) {
  .blog-wrapper {
    width: 85%;
  }
}
